


/* create @media queries */



body {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(243, 232, 232);
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 1px solid #b4b4b4;
}

.container {
  padding: 5%;
}

.description {
  white-space: normal;
  border: 1px solid #b4b4b4;
}

textarea {
  font-family: 'Raleway', sans-serif;
  color: black;
  border: none !important;
  resize: none !important;
  outline: none !important;
  box-shadow: none !important; 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: rgb(243, 232, 232);
  color: #000000;
  border-top: 1px solid #b4b4b4;
  white-space: normal;
  text-align: center;
  padding-top: 30px;
}

.past {
  background-color: #dee8f1;
  color: black;
}

.present {
  background-color: #fa908b;
  color: black;
}

.future {
  background-color: #b8f5b8;
  color: black;
}

button.saveBtn {
  border: 1px solid #838282 !important;
  box-shadow: none !important;
  outline: none !important;
  padding-left: 20px;
  height: 80px;
  width: 70px;
  background-color: #55cce7;
  text-align: left;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  white-space: normal;
  outline: none;
  box-shadow: none;
  padding-left: 0;
}

button.saveBtn:hover {
  background-color: #8ae0f3;
}



/* @media queries */